<form #sessionForm="ngForm" (ngSubmit)="onSubmit()">

  <label for="title">Session title</label>
  <input id="title" name="title" required [(ngModel)]="draft().title" (ngModelChange)="onTitleChange($event)" #title="ngModel"/>

  @if (title.invalid && title.touched)
  {
    <p>Title required</p>
  }

  <label for="abstract">Description</label>
  <textarea id="abstract" name="abstract" [(ngModel)]="draft().abstract" (ngModelChange)="onAbstractChange($event)"></textarea>

  <button type="submit" [disabled]="sessionForm.invalid">Save</button>
</form>
