<form #sessionForm="ngForm" (ngSubmit)="onSubmit()">
  <label for="title">Session Title</label>
  <input id="title" name="title" required [(ngModel)]="model.title" #title="ngModel"/>

  @if (title.invalid && title.touched)
  {
    <p>Title requared</p>
  }

  <label for="abstract">Description</label>
  <textarea id="abstract" name="abstract" [(ngModel)]="model.abstract"></textarea>

  <button type="submit" [disabled]="sessionForm.invalid">Save</button>
</form>

@if (submitted)
{
  <h3>Form data</h3>
  <p>Title: {{ model.title }}</p>
  <p>Description: {{ model.abstract || '(Empty)' }}</p>
}
